.mission {
    padding-top: 20px;
}

.mission__inner {
    padding: 16px;

    border-radius: 24px 24px 0 0;
    background: rgba(255, 255, 255, 0.04);
}


.mission__title {
    margin-bottom: 24px;

    font-size: 32px;
    line-height: 40px;
}

.mission__text {
    margin-bottom: 32px;
    padding: 16px;

    font-size: 18px;
    line-height: 26px;

    border-radius: 8px;
    background: rgba(255, 255, 255, 0.04);
}

.mission__cards {

}

.mission__card {
    position: relative;

    margin-bottom: 24px;
    padding: 170px 24px 24px;

    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.mission__card-heading {
    margin-bottom: 4px;

    font-size: 20px;
    line-height: 26px;
}

.mission__card-img {
    position: absolute;
    transform: translateX(-50%);
    top: -25px;
    left: 50%;

    width: 270px;
    height: auto;

    &--2 {
        width: 250px;
    }

    &--5 {
        top: -45px;

        width: 250px;
    }

    &--6 {
        top: -35px;

        width: 250px;
    }
}

.mission__card-text {
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    opacity: 0.7;
}

.mission__card-price {
    display: inline-block;
    margin-top: 40px;
    padding: 6px 12px;

    font-size: 11px;
    line-height: 12px;
    color: var(--black);

    border-radius: 46px;
    background-color: var(--yellow);
}
