.root {
  max-width: 1264px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;

  font-family: 'Circe', sans-serif;
  font-weight: 400;
  color: var(--white);

  background-color: var(--black);

  @media (min-width: 768px) {
    padding: 32px;
  }

  @media (min-width: 768px) {
    padding: 40px 32px;
  }
}
